# Dist folders
dist
dist-ssr
bin

# Local folders
*.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

# Do not add database
kweenb.sqlite

# Do not environment variables
.env

# Do not add installed state
installed

# Do not add certificates
.config/*.p12

# Do not add keys
*.key

# Do not add JackTrip
resources/jacktrip/*

# Do not add Jack
resources/jack/*

# Do not add compiled webserver folder
*/webserver/*
public/*